@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-text {
  -webkit-text-stroke: 1px #fada82;
}

.shadow-custom {
  box-shadow: 0px 0px 4px 4px rgba(255, 207, 79, 0.8);
}
.shadow-custom2 {
  box-shadow: 0px 0px 50px 100px rgba(255, 207, 79, 0.8);
}
